// --------------Tailwind Imports------------
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors';

* {
  font-family: 'Jost', sans-serif;
}

.selected {
  @apply relative text-accent;
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 6px;
    @apply bg-accent rounded-full;
  }
}

.cover {
  background-image: url('/cover.jpg');
  background-position: center;
  background-size: cover;
}

.header {
  &::after {
    content: ' ';
    @apply bg-gray-100 dark:bg-slate-900;
    z-index: 0;
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 30px;
    width: 30px;
    border-top-left-radius: 20px;
  }
  &::before {
    position: absolute;
    @apply bg-secondary dark:bg-gray-950;
    z-index: 0;
    content: ' ';
    bottom: -30px;
    left: 0;
    height: 30px;
    width: 30px;
  }
}

.react-calendar {
  border: none !important;
  border-radius: 20px;
  width: 100% !important;
  overflow: hidden;
  padding: 1em !important;
  @apply bg-secondary dark:bg-slate-800 font-Oswald shadow-2xl;
}
.react-calendar__navigation__label {
  background-color: transparent !important;
}
.react-calendar__tile,
.react-calendar__year-view__months__month {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.react-calendar__tile {
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  border: 1px solid transparent !important;
  @apply text-black dark:text-white;
  &:hover {
    background-color: rgba($primary, 0.2) !important;
    color: $primary !important;
    border: 1px solid $primary !important;
  }
}

.react-calendar__tile--now {
  background-color: $primary !important;
  color: white !important;
  border-radius: 4px;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  background-color: rgba($primary, 0.2) !important;
  color: $primary;
  border: 1px solid $primary !important;
  border-radius: 4px;
}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.5;
  &:hover {
    background-color: transparent !important;
    color: inherit;
    border-radius: 4px;
  }
}
.react-calendar__navigation__label__labelText {
  padding: 0.5em;
}
.react-calendar__navigation__label__labelText,
.react-calendar__navigation__arrow {
  @apply text-black dark:text-white;
  border-radius: 4px;

  &:hover {
    background-color: rgba($primary, 0.2) !important;
    color: $primary !important;
    border: 1px solid $primary !important;
  }
}
.react-calendar__navigation__arrow {
  background-color: rgba($primary, 0.2) !important;
}

.react-calendar__navigation {
  @apply gap-x-1;
}
.react-calendar__tile--now {
  background-color: $primary !important;
  border: 1px solid $primary !important;
}

abbr {
  text-decoration: none !important;
  padding-bottom: 1em !important;
  @apply text-black dark:text-white lg:text-sm;
}
