// --------------Tailwind Imports------------
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Jost', sans-serif;
}

.selected {
  @apply relative text-accent;
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 6px;
    @apply bg-accent rounded-full;
  }
}

.cover {
  background-image: url('/cover.jpg');
  background-position: center;
  background-size: cover;
}
