@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  background-color: var(--darkest-blue);
  min-height: 100vh;
  display: grid;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.api-error {
  background: var(--dark-blue-border);
  width: 480px;
  height: 270px;
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 4px;
}

.api-error p {
  color: var(--white);
}

.api-error h1 {
  color: var(--red-dark);
}

.api-error a,
.api-error a:visited {
  color: var(--white);
}

// --------------------------------------------------- Media Error

.get-user-media-error {
  grid-column: 1 / 3;
  align-items: center;
}

.get-user-media-error h1 {
  color: var(--red-dark);
}

.get-user-media-error button {
  margin: 1rem 0 1rem 0;
  background: black;
  color: var(--white);
}

.get-user-media-error a,
.get-user-media-error a:visited {
  color: white;
  text-decoration: underline;
}

.get-user-media-error p {
  margin: 0;
}
// --------------------------------------------------- Tray

.tray {
  width: 100%;
  background: var(--white);
  color: var(--darkest-blue);
  flex-direction: column;
  display: flex;
  justify-content: center;
}

// --------------------------------------------------- Chat

.chat {
  background: var(--white);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-left: 1px solid var(--grey);
}

@media only screen and (max-width: 600px) {
  .chat {
    width: 100%;
    z-index: 3; /* overlay the usernames in the Call screen*/
  }
}

.chat-messages {
  margin: 0;
  height: 78%;
  overflow-y: auto;
}

.chat-message {
  list-style-type: none;
  margin-bottom: 1rem;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: rgba(121, 121, 121, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #00398f93;
  }
}

#scorllbar1 {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: rgba(121, 121, 121, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #00398f93;
  }
}

// --------------------------------------------------- Tile
.spotlight-tile {
  margin: 0 auto;
  height: 100% !important;
  width: fit-content !important;
}

.no-full-width-video {
  width: 70% !important;
}
.full-width-video {
  width: 100% !important;
}

.tile-video {
  @apply bg-gray-400 dark:bg-gray-600 rounded-xl;
  position: relative;
  width: 220px;
  height: 124px;
}

.small-tile {
  aspect-ratio: 16 / 9 !important;
  border-radius: 10px !important;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .tile-video {
    width: 130px;
    height: 73px;
  }
}

.no-video video {
  visibility: hidden;
}

/* Hard-code the self-view size if there's no one else in the call, just to make it align with the info-box */
.self-view.alone {
  width: 480px;
  height: 270px;
}

@media only screen and (max-width: 600px) {
  .self-view.alone {
    width: 240px;
    height: 135px;
  }
}

/* Put screen share front and center in our grid when there is one active */
.tile-screenshare {
  grid-column: 1 / -1;
  grid-row: 1;
}
